## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [17]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [18]:
# Your code here
sample_list_1 = random.sample(range(0,100),k=80)
print(sample_list_1)
#sample_list_1.add('a') this is how to add items
#sample_list_1.remove('a')

[47, 24, 36, 14, 62, 79, 20, 37, 2, 55, 16, 4, 98, 17, 49, 57, 9, 13, 88, 75, 69, 51, 33, 59, 54, 11, 78, 80, 97, 82, 68, 73, 65, 25, 96, 0, 58, 28, 67, 91, 34, 71, 70, 84, 32, 45, 95, 90, 19, 31, 1, 72, 86, 12, 26, 46, 42, 63, 8, 81, 3, 50, 41, 39, 40, 35, 29, 48, 6, 61, 87, 38, 60, 83, 43, 18, 27, 52, 93, 92]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# Your code here
sample_list_2 = []
for i in range (80): # this is showing the number of values to be retrieved
    n=random.randint(0,100) #this is showing the start and end values
    sample_list_2.append(n)
print(sample_list_2)

[19, 17, 11, 70, 98, 21, 88, 50, 77, 28, 3, 44, 73, 27, 84, 54, 79, 26, 85, 69, 28, 95, 71, 27, 38, 18, 23, 50, 10, 32, 36, 31, 69, 24, 16, 15, 89, 74, 55, 3, 58, 93, 16, 21, 21, 76, 4, 52, 5, 42, 56, 42, 59, 66, 55, 65, 28, 92, 18, 2, 28, 30, 59, 93, 60, 69, 13, 33, 47, 90, 29, 27, 23, 86, 33, 16, 80, 85, 90, 38]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set2 = set(sample_list_2)
print(len(set2)) # now in the set there are only 56 unique values since in the sample_list_2 there are duplicates and when converted to set the duplicates are removed
#paolo: exactly

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:
# Your code here
set3 = set1-set2
print(set3)

{0, 1, 6, 8, 9, 12, 14, 20, 25, 34, 35, 37, 39, 40, 41, 43, 45, 46, 48, 49, 51, 57, 61, 62, 63, 67, 68, 72, 75, 78, 81, 82, 83, 87, 91, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
# Your code here
set4 = set2-set1
print(set4)

{66, 5, 10, 74, 44, 76, 77, 15, 21, 85, 23, 56, 89, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 3, 4, 11, 13, 16, 17, 18, 19, 24, 26, 27, 28, 29, 31, 32, 33, 36, 38, 42, 47, 50, 52, 54, 55, 58, 59, 60, 65, 69, 70, 71, 73, 79, 80, 84, 86, 88, 90, 92, 93, 95, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
# Your code here
print(len(set1)) #this has only unique values
print(len(set2)) #this has duplicate values
print(len(set3)) #difference between set1 and set2
print(len(set4)) #difference between set2 and set1
print(len(set5)) #intersection between set1 and set2

80
57
37
14
43

In [26]:
len(set1)+len(set2)==len(set3)+len(set4)+2*len(set5) #set5 needs to be taken into account twice as its values are in set1 and in set2
#paolo:yes

True

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set3.update(set5)
set6.update(set3)
print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 18, 20, 21, 22, 25, 26, 28, 30, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 98, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
set2.issubset(set1)

False

In [14]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [16]:
# Your code here 
set3.union(set4)
set3.union(set5)
set7 = print(set3)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 63, 64, 65, 67, 68, 71, 72, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

In [17]:
set1.union(set2)
set8 = print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 63, 64, 65, 67, 68, 71, 72, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

In [18]:
set7==set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
x = set1.pop()
print(set1)

{1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 18, 20, 21, 22, 25, 26, 28, 30, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [30]:
# Your code here
set1
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)
print(set1)

{0, 2, 3, 4, 6, 8, 12, 13, 14, 16, 17, 18, 20, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 54, 55, 57, 58, 60, 62, 63, 65, 67, 68, 70, 72, 73, 75, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98}

In [31]:
set1- set(list_to_remove)

{0,
 2,
 3,
 4,
 6,
 8,
 12,
 13,
 14,
 16,
 17,
 18,
 20,
 24,
 25,
 26,
 27,
 28,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 45,
 46,
 47,
 48,
 50,
 52,
 54,
 55,
 57,
 58,
 60,
 62,
 63,
 65,
 67,
 68,
 70,
 72,
 73,
 75,
 78,
 80,
 82,
 83,
 84,
 86,
 87,
 88,
 90,
 92,
 93,
 95,
 96,
 97,
 98}