## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [221]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [222]:
# Your code here

sample_list_1 = random.sample(range(1,100),80)
print(sample_list_1)

[66, 42, 86, 12, 56, 9, 40, 55, 4, 54, 46, 87, 48, 58, 30, 63, 22, 37, 57, 44, 25, 29, 16, 88, 33, 3, 19, 2, 20, 17, 99, 52, 89, 94, 69, 96, 97, 78, 1, 8, 10, 50, 76, 90, 83, 70, 34, 21, 77, 82, 71, 41, 26, 59, 27, 43, 32, 84, 98, 93, 38, 39, 18, 74, 91, 79, 28, 68, 92, 45, 24, 81, 5, 73, 75, 51, 15, 11, 14, 35]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [223]:
# Your code here

set1= set(sample_list_1)
print(set1)
len(set1)

{1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 63, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [224]:
#random.sample(p,r) for unique elements
#random.randint(r) don't need to be unique

# Your code here

sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randint(0, 100))       

print (sample_list_2)

[64, 51, 71, 19, 80, 9, 39, 58, 83, 57, 2, 20, 100, 32, 39, 61, 9, 72, 94, 100, 59, 37, 9, 49, 18, 59, 55, 28, 27, 24, 12, 35, 98, 38, 81, 64, 25, 95, 86, 62, 17, 12, 69, 51, 43, 93, 85, 16, 44, 32, 49, 94, 65, 25, 75, 100, 11, 29, 79, 57, 66, 15, 27, 46, 6, 82, 9, 44, 59, 88, 16, 0, 70, 16, 39, 83, 98, 8, 90, 52]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [225]:
# Your code here

set2 = set(sample_list_2)
print(set2)
len(set2)

{0, 2, 6, 8, 9, 11, 12, 15, 16, 17, 18, 19, 20, 24, 25, 27, 28, 29, 32, 35, 37, 38, 39, 43, 44, 46, 49, 51, 52, 55, 57, 58, 59, 61, 62, 64, 65, 66, 69, 70, 71, 72, 75, 79, 80, 81, 82, 83, 85, 86, 88, 90, 93, 94, 95, 98, 100}

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [226]:
# Your code here


set3 = set1.difference(set2)
print(set3)
len(set3)

{1, 3, 4, 5, 10, 14, 21, 22, 26, 30, 33, 34, 40, 41, 42, 45, 48, 50, 54, 56, 63, 68, 73, 74, 76, 77, 78, 84, 87, 89, 91, 92, 96, 97, 99}

35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [227]:
# Your code here

set4 = set2.difference(set1)
print(set4)
len(set4)

{0, 64, 65, 100, 6, 72, 80, 49, 85, 61, 62, 95}

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [228]:
# Your code here

c=[]
for i in set1:
    for j in set2:
        if i == j:
            c.append(i)

set5 = set(c)
print(set5)

{2, 8, 9, 11, 12, 15, 16, 17, 18, 19, 20, 24, 25, 27, 28, 29, 32, 35, 37, 38, 39, 43, 44, 46, 51, 52, 55, 57, 58, 59, 66, 69, 70, 71, 75, 79, 81, 82, 83, 86, 88, 90, 93, 94, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [229]:
# Your code here

s1=len(set1)
print(s1)
s2=len(set2)
print(s2)
s3=len(set3)
print(s3)
s4=len(set4)
print(s4)
s5=len(set5)
print(s5)


#set1|set2 = set3(36)      set1 difference set2
#set2|set1 = set4(17)      set2 difference set1
#set1 ^U set2 = set5(44)   Intersection

#Set 1 should be equal to it's difference from set 2 + intersection elements.
#Set 2 should be equal to it's difference from set 1 + intersection elements.

#set1 = (set1|set2) + set1 ^U set2 == set3(36) + set5(44) which is 80 = 36+44 True.
#set2 = (set2|set1) + set1 ^U set2 == set4(17) + set5(44) which is 61 = 17+44 True.

a=bool(len(set1) == (len(set3) + len(set5)))
b=bool(len(set2) == (len(set4) + len(set5)))
print(a)
print(b)

80
57
35
12
45
True
True

#### Create an empty set called `set6`.

In [230]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [243]:
# Your code here
print(set3)
print(set5)

set6 = set3.union(set5)


#.update gives NoneType object. Don't understand how can I check it's length if it is NoneType :| Can do by converting 
#them to a list but not sure if it's what question wants.

#set6.update(set3)
#set6.update(set5)

{1, 3, 4, 5, 10, 14, 21, 22, 26, 30, 33, 34, 40, 41, 42, 45, 48, 50, 54, 56, 63, 68, 73, 74, 76, 77, 78, 84, 87, 89, 91, 92, 96, 97, 99}
{2, 8, 9, 11, 12, 15, 16, 17, 18, 19, 20, 24, 25, 27, 28, 29, 32, 35, 37, 38, 39, 43, 44, 46, 51, 52, 55, 57, 58, 59, 66, 69, 70, 71, 75, 79, 81, 82, 83, 86, 88, 90, 93, 94, 98}

#### Check if `set1` and `set6` are equal.

In [232]:
# Your code here

len(set1) == len(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [233]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [234]:
# Your code here

set345 = set3.union(set4,set5)
set12 = set1.union(set2)

len(set345) == len(set12)

True

#### Using the `pop` method, remove the first element from `set1`.

In [235]:
# Your code here

set1_1 = set1.pop()
print(set1_1)

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [236]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_remaining = set1.difference(set(list_to_remove))
print(set_remaining)

{2, 3, 4, 5, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 54, 55, 56, 57, 58, 63, 66, 68, 70, 73, 74, 75, 76, 77, 78, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}