## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[47, 1, 42, 11, 68, 24, 56, 81, 88, 63, 95, 22, 2, 30, 91, 25, 82, 16, 51, 14, 5, 62, 48, 31, 8, 74, 73, 50, 45, 33, 55, 96, 13, 71, 87, 9, 99, 94, 10, 69, 59, 79, 53, 60, 40, 46, 4, 19, 57, 97, 32, 72, 7, 58, 49, 64, 39, 77, 18, 84, 44, 15, 54, 67, 37, 29, 41, 61, 17, 20, 85, 34, 90, 66, 36, 65, 26, 0, 98, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []

for i in range (80):
    sample_list_2.append(random.randrange(0,100))
    i = random
print(sample_list_2)

[66, 70, 46, 97, 91, 34, 27, 3, 50, 85, 62, 63, 32, 48, 57, 34, 24, 91, 86, 54, 50, 8, 10, 28, 47, 72, 92, 18, 30, 50, 30, 49, 15, 69, 42, 93, 39, 67, 97, 87, 52, 86, 89, 59, 28, 4, 39, 7, 78, 56, 76, 69, 26, 60, 57, 50, 86, 50, 51, 98, 84, 30, 97, 29, 86, 67, 60, 98, 64, 21, 12, 91, 8, 34, 37, 5, 82, 88, 21, 29]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3 = set(set1.difference(set2))
print(set3)

{0, 1, 2, 9, 11, 13, 14, 16, 17, 19, 20, 22, 25, 31, 33, 36, 40, 41, 43, 44, 45, 53, 55, 58, 61, 65, 68, 71, 73, 74, 77, 79, 81, 90, 94, 95, 96, 99}

    # Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 = set(set2.difference(set1))

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{4, 5, 7, 8, 10, 15, 18, 24, 26, 29, 30, 32, 34, 37, 39, 42, 46, 47, 48, 49, 50, 51, 54, 56, 57, 59, 60, 62, 63, 64, 66, 67, 69, 72, 82, 84, 85, 87, 88, 91, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here
import math
#Sorry, I really don't understand this question.

#[Tjerk] I agree the questions is hard to understand.
#check the solutions and let me know if you find it out like that.
#next time ask the TA or LT in the time after the lectures
#so we can help you out.

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6 = {''}

#[Tjerk] this is not an empty set, its filled with an empty string
#try set6 = set();

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set5)
set6.update(set3)
#[Tjerk] yes or in one go set6.update(set3, set5);
print(set6)

{'', 0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 26, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 77, 79, 81, 82, 84, 85, 87, 88, 90, 91, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
set2.issubset(set1)
set3.issubset(set3)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
setnew = set3.union(set4, set5)
print(setnew)
setnewtwo = set1.union(set2)
print(setnewtwo)

#[Tjerk] you forgot to Check if the aggregated values are equal., how can you easily let python do this?

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.discard(set(list_to_remove))
print(set1)

#[Tjerk] yes, great solution!!

{1, 2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 26, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 77, 79, 81, 82, 84, 85, 87, 88, 90, 91, 94, 95, 96, 97, 98, 99}