## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
import random
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[67, 39, 50, 71, 68, 46, 38, 12, 18, 31, 83, 7, 42, 84, 90, 91, 52, 17, 97, 37, 69, 70, 87, 49, 34, 24, 78, 56, 6, 92, 29, 89, 43, 74, 98, 88, 22, 5, 80, 57, 96, 44, 0, 94, 8, 23, 21, 65, 62, 33, 3, 76, 77, 28, 85, 16, 55, 54, 66, 73, 81, 27, 30, 47, 82, 41, 15, 26, 14, 72, 95, 86, 19, 59, 11, 10, 35, 61, 63, 32]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
sample_list_1=[35, 56, 76, 2, 49, 33, 3, 22, 75, 39, 34, 58, 32, 13, 96, 20, 21, 77, 55, 81, 45, 36, 25, 30, 84, 74, 5, 7, 93, 19, 0, 10, 28, 11, 51, 99, 90, 87, 80, 65, 48, 17, 15, 97, 44, 68, 54, 47, 78, 24, 63, 27, 70, 16, 71, 46, 37, 61, 72, 62, 86, 95, 40, 50, 59, 94, 43, 23, 82, 26, 42, 29, 91, 6, 12, 88, 60, 41, 79, 9]
set1=set(sample_list_1)
print(set1)
print(len(set1)==80)

{0, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 99}
True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
import random

sample_list_2=[]
for i in range (80):
    sample_list_2.append(random.randrange(1,100,1))

print (sample_list_2)

[46, 52, 78, 38, 18, 92, 33, 82, 5, 71, 77, 51, 83, 77, 13, 98, 60, 43, 77, 25, 35, 92, 48, 69, 25, 62, 45, 13, 97, 86, 52, 17, 94, 79, 61, 99, 68, 3, 68, 74, 46, 54, 85, 51, 9, 96, 40, 46, 30, 37, 66, 7, 45, 90, 82, 50, 86, 20, 91, 12, 55, 18, 83, 3, 34, 92, 95, 44, 39, 31, 99, 59, 13, 6, 6, 63, 5, 57, 71, 49]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2=set(sample_list_2)
print(set2)
print(len(set2)==80)
#paolo: what is your explanantion that the length is not 80?
# because set doesnt take duplicate values so the set length is not same as of the list with duplicate values.

{3, 5, 6, 7, 9, 12, 13, 17, 18, 20, 25, 30, 31, 33, 34, 35, 37, 38, 39, 40, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 57, 59, 60, 61, 62, 63, 66, 68, 69, 71, 74, 77, 78, 79, 82, 83, 85, 86, 90, 91, 92, 94, 95, 96, 97, 98, 99}
False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set1={0, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 99}
set2={3, 4, 8, 12, 14, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 30, 31, 34, 35, 37, 38, 39, 40, 43, 45, 46, 49, 50, 51, 52, 54, 56, 57, 59, 60, 61, 62, 64, 67, 68, 69, 72, 73, 74, 76, 77, 82, 84, 87, 88, 89, 90, 92, 93, 94, 96}
set3=set1-set2
print(set3)

{0, 2, 5, 6, 7, 9, 10, 11, 13, 15, 23, 28, 29, 32, 33, 36, 41, 42, 44, 47, 48, 55, 58, 63, 65, 70, 71, 75, 78, 79, 80, 81, 86, 91, 95, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4=set2-set1
print(set4)

{64, 89, 67, 4, 69, 38, 8, 73, 14, 52, 57, 92, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5= set1.intersection(set2)
print(set5)

{3, 12, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 30, 34, 35, 37, 39, 40, 43, 45, 46, 49, 50, 51, 54, 56, 59, 60, 61, 62, 68, 72, 74, 76, 77, 82, 84, 87, 88, 90, 93, 94, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))
#TO BE CHECKED

80 56 37 13 43

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set3={0, 2, 5, 6, 7, 9, 10, 11, 13, 15, 23, 28, 29, 32, 33, 36, 41, 42, 44, 47, 48, 55, 58, 63, 65, 70, 71, 75, 78, 79, 80, 81, 86, 91, 95, 97, 99}
set5={3, 12, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 30, 34, 35, 37, 39, 40, 43, 45, 46, 49, 50, 51, 54, 56, 59, 60, 61, 62, 68, 72, 74, 76, 77, 82, 84, 87, 88, 90, 93, 94, 96}
set6=set()
set6.update(set3,set5)
print(set6)

{0, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
print(set1-set6==0)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
new_set_1=set3.union(set4,set5)
new_set_2=set1.union(set2)
print(new_set_1==new_set_2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
set1.pop()
print(set1)

{2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove= [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set(list_to_remove)
print(set1-set(list_to_remove))

{2, 3, 5, 6, 7, 10, 12, 13, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 54, 55, 56, 58, 60, 62, 63, 65, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 84, 86, 87, 88, 90, 93, 94, 95, 96, 97}