# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [33]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [34]:
phonenumbers_friends = {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}

def add_country_code(phonenumbers_dict, code):
    """
    Inputs: a dict and string
    Outputs: dict with modified values
    """
    for key, values in phonenumbers_dict.items():
        phonenumbers_dict[key] = code + values
    return phonenumbers_dict

print(add_country_code(phonenumbers_friends, "+039"))

{'Anna': '+0390313911913', 'Erica': '+0390313911913', 'Alberto': '+0390313911913', 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [35]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [36]:
# Your code here
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [37]:
# Your code here:
print(np.mean(iris))
# the function returns the average value of the first four numeric columns

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [38]:
# Your code here:
print(np.std(iris))
# the function returns the standard deviation of the first four numeric columns

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [39]:
# Your code here:
iris_numeric = iris._get_numeric_data()
print(iris_numeric.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [40]:
def cm_to_in(x):
    """
    This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    """   
    return x*0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [41]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
print(iris_inch.head())

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [42]:
# Define constant below:
constant_error = 2

def add_constant(x):
    """
    This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    """
    for i in x:
        return x + 2

iris_constant = add_constant(iris_numeric)
print(iris_constant.head())

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [43]:
# Your code here:
def max_row(df):
    """
    This function computes the maximum value for each row of a dataframe
    # Input: dataframe
    # Output: maximum value of row of dataframe
    """
    return df.apply(np.max, axis=1)

print(max_row(iris_numeric).head())

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [44]:
print(iris_numeric["sepal_length"][0])

5.1

In [45]:
# Your code here:
def combined_value(df):
    """
    This function computes the combined lengths (sepal and petal) and the combined widths for each row
    # Input: iris dataframe
    # Output: combined value of row of dataframe
    """
    df["total_length"] = df["sepal_length"]+ df["petal_length"]
    df["total_width"] = df["sepal_width"]+ df["petal_width"]
    return df

print(combined_value(iris_numeric).head())

# how can i make sure that i add 2nd column to same dataframe?

   sepal_length  sepal_width  petal_length  petal_width  total_length  \
0           5.1          3.5           1.4          0.2           6.5
1           4.9          3.0           1.4          0.2           6.3
2           4.7          3.2           1.3          0.2           6.0
3           4.6          3.1           1.5          0.2           6.1
4           5.0          3.6           1.4          0.2           6.4

   total_width
0          3.7
1          3.2
2          3.4
3          3.3
4          3.8