# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [14]:
phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}

pnwcd={}

def pn_w_countrycode(numbers,code = '+039'):
    for key,value in numbers.items():
        pnwcd[key] = code + value
    
pn_w_countrycode(phone_numbers)

print(pnwcd)
#paolo:ok maybe better to define the dict inside the function and try
# to run the function also on the dict Anna, Erica etc as per question

{'Tom': '+0390313911913', 'John': '+0390313911913', 'Annie': '+0390313911913', 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [15]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [16]:
# Your code here

iris.head()
#numeric = iris._get_numeric_data()
#numeric
#means = pd.DataFrame(numeric.mean()).reset_index()
#means.columns = ['Variable','Mean']
#means

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [5]:
# Your code here:

# In order to calculate means it's better to obtain only integers by getting numeric data since process will be faster
#by this way.

numeric = iris._get_numeric_data()

means = pd.DataFrame(numeric.mean())
means.columns = ['Mean']
means

#What it means = pd.DataFrame(numeric.mean()) takes mean of each column (columns consists of integers)

#Yet I am curious what happens if some of those variables are integer and some of them strings in the same column?
#Since I can't change data frame yet, would be nice if you just mention in your feedback:) Thanks!

                  Mean
sepal_length  5.843333
sepal_width   3.054000
petal_length  3.758667
petal_width   1.198667

In [32]:
#paolo: it would not work directly you get value for fully numerical column
data = {'First_col':  [1,2,3,4, 5,6],
        'Sec_col': [1,2,3,4, 'value','value'],}
df=pd.DataFrame(data)
df

   First_col Sec_col
0          1       1
1          2       2
2          3       3
3          4       4
4          5   value
5          6   value

In [35]:
#paolo: check mean on dataframe with mixed col
df.mean(axis=0)

First_col    3.5
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [17]:
# Your code here:

a = numeric.std()
a

#sepal_width values in the dataFrame are close to each other since std is low, consistent.

#For std dev any value lower than 1 considered as low variation between variables, so rest of the columns 
#except petal_length is ok I believe.. I mean values are in close range.

#petal_length values in the dataFrame are far to each other, range is huge, inconsisten.

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [18]:
# Your code here:
iris_numeric = iris._get_numeric_data()

iris_numeric

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [19]:
#iris_numeric[['sepal_length', 'sepal_width', 'petal_length','petal_width']]

def cm_to_in(numericdata):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    inches = pd.DataFrame(numericdata / 0.393701)
    return inches

    
    
cm_to_in(iris_numeric)
#paolo: good conceptual but check conversion is it multiply or divide?

     sepal_length  sepal_width  petal_length  petal_width
0       12.953993     8.889995      3.555998     0.508000
1       12.445993     7.619996      3.555998     0.508000
2       11.937994     8.127996      3.301998     0.508000
3       11.683994     7.873996      3.809998     0.508000
4       12.699993     9.143995      3.555998     0.508000
..            ...          ...           ...          ...
145     17.017991     7.619996     13.207993     5.841997
146     16.001991     6.349997     12.699993     4.825997
147     16.509991     7.619996     13.207993     5.079997
148     15.747991     8.635995     13.715993     5.841997
149     14.985992     7.619996     12.953993     4.571998

[150 rows x 4 columns]

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [20]:
# Your code here:

iris_inch = pd.DataFrame(cm_to_in(iris_numeric))
iris_inch

     sepal_length  sepal_width  petal_length  petal_width
0       12.953993     8.889995      3.555998     0.508000
1       12.445993     7.619996      3.555998     0.508000
2       11.937994     8.127996      3.301998     0.508000
3       11.683994     7.873996      3.809998     0.508000
4       12.699993     9.143995      3.555998     0.508000
..            ...          ...           ...          ...
145     17.017991     7.619996     13.207993     5.841997
146     16.001991     6.349997     12.699993     4.825997
147     16.509991     7.619996     13.207993     5.079997
148     15.747991     8.635995     13.715993     5.841997
149     14.985992     7.619996     12.953993     4.571998

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [21]:
# Define constant below:

error = 2

def add_constant(numericdata):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    iris_c = pd.DataFrame(numericdata + error)
    return iris_c

iris_constant = add_constant(iris_numeric)
iris_constant
#paolo:yes

     sepal_length  sepal_width  petal_length  petal_width
0             7.1          5.5           3.4          2.2
1             6.9          5.0           3.4          2.2
2             6.7          5.2           3.3          2.2
3             6.6          5.1           3.5          2.2
4             7.0          5.6           3.4          2.2
..            ...          ...           ...          ...
145           8.7          5.0           7.2          4.3
146           8.3          4.5           7.0          3.9
147           8.5          5.0           7.2          4.0
148           8.2          5.4           7.4          4.3
149           7.9          5.0           7.1          3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [22]:
# Your code here:

#This doesn't return as a value.
iris_numeric[['sepal_length', 'sepal_width', 'petal_length','petal_width']].max()

iris_numeric['sepal_length'].max()
iris_numeric['sepal_length'].max()
iris_numeric['sepal_length'].max()
iris_numeric['sepal_length'].max()
#paolo: try writing function

7.9

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [23]:
# Your code here:

#total_length = len(iris_numeric[['sepal_length']])
#or
#total_length = len(iris_numeric['sepal_length']) #since it is only len() asked for us, we can also use form of series.
#total_length

#Found easier way..

total_length = len(iris_numeric) #total_length = len(iris_numeric.index) is also fine - will count each index from top to bottom
print(total_length)

total_width = len(iris_numeric.columns)
print(total_width)
#paolo: here the question is about the actual values not number of rows or columns
# I refer you to the solution

150
4

In [13]:
#Hey Paolo, there are millions of information about data-sets, I am a bit lost while checking all of them.
# Are we going to cover more about dataFrames in the future?
#paolo: yes, we definetly are!